@import "tailwindcss";

/* global.css */
html,
body,
#root {
  height: 100%;
}

.app-fixed {
  height: 100vh; /* full viewport */
  overflow: hidden; /* prevents page scrolling while using arrow keys */
  display: flex;
}
